.one {
    font-family: Hack, monospace;
    font-weight: 200;
    padding: 5em 4em 6em 3em;
    margin: 2em 2em 2em 2em;
}

h1 {
    background: #00ff00 url('hello.jpeg') no-repeat top left;
    color: #ffffff;
    height: 10em;
    text-align: center;
}

.grid-container {
    display: grid;
}